<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.SecretKeyMapper" >
  <resultMap id="BaseResultMap" type="com.model.SecretKey" >
    <id column="KEY_ID" property="keyId" jdbcType="DECIMAL" />
    <result column="INIT_DATE" property="initDate" jdbcType="DECIMAL" />
    <result column="EXCHANGE_ID" property="exchangeId" jdbcType="VARCHAR" />
    <result column="BANK_PRO_CODE" property="bankProCode" jdbcType="VARCHAR" />
    <result column="KEY_INFO" property="keyInfo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    KEY_ID, INIT_DATE, EXCHANGE_ID, BANK_PRO_CODE, KEY_INFO
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SECRET_KEY
    where KEY_ID = #{keyId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SECRET_KEY
    where KEY_ID = #{keyId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.model.SecretKey" >
    insert into SECRET_KEY (KEY_ID, INIT_DATE, EXCHANGE_ID, BANK_PRO_CODE, KEY_INFO)
    values (#{keyId,jdbcType=DECIMAL}, #{initDate,jdbcType=DECIMAL}, 
      #{exchangeId,jdbcType=VARCHAR}, #{bankProCode,jdbcType=VARCHAR},
      #{keyInfo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.model.SecretKey" >
    insert into SECRET_KEY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="keyId != null" >
        KEY_ID,
      </if>
      <if test="initDate != null" >
        INIT_DATE,
      </if>
      <if test="exchangeId != null" >
        EXCHANGE_ID,
      </if>
      <if test="bankProCode != null" >
        BANK_PRO_CODE,
      </if>
      <if test="keyInfo != null" >
        KEY_INFO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="keyId != null" >
        #{keyId,jdbcType=DECIMAL},
      </if>
      <if test="initDate != null" >
        #{initDate,jdbcType=DECIMAL},
      </if>
      <if test="exchangeId != null" >
        #{exchangeId,jdbcType=VARCHAR},
      </if>
      <if test="bankProCode != null" >
        #{bankProCode,jdbcType=VARCHAR},
      </if>
      <if test="keyInfo != null" >
        #{keyInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.SecretKey" >
    update SECRET_KEY
    <set >
      <if test="initDate != null" >
        INIT_DATE = #{initDate,jdbcType=DECIMAL},
      </if>
      <if test="exchangeId != null" >
        EXCHANGE_ID = #{exchangeId,jdbcType=VARCHAR},
      </if>
      <if test="bankProCode != null" >
        BANK_PRO_CODE = #{bankProCode,jdbcType=VARCHAR},
      </if>
      <if test="keyInfo != null" >
        KEY_INFO = #{keyInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where KEY_ID = #{keyId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.SecretKey" >
    update SECRET_KEY
    set INIT_DATE = #{initDate,jdbcType=DECIMAL},
      EXCHANGE_ID = #{exchangeId,jdbcType=VARCHAR},
      BANK_PRO_CODE = #{bankProCode,jdbcType=VARCHAR},
      KEY_INFO = #{keyInfo,jdbcType=VARCHAR}
    where KEY_ID = #{keyId,jdbcType=DECIMAL}
  </update>
  
</mapper>